# Site settings
title:          Ankit's Blog
description:    Personal blog
baseurl:        ""
url:            "https://ak10net.github.io"

# Google Analytics
google_analytics: G-GXQMVJVCCB

# Author
author:
  name:         Ankit
  url:          
  email:        akionet@gmail.com

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       10

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]

# Disqus (Set to your disqus id)
disqus:  disqus_wSh3HSCbF8